{% extends 'snippets/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container">
        <h1>Welcome</h1>
        <p>Please choose your action.</p>
        <!-- <a href="{% url 'property:list' %}" class="btn btn-success btn-lg">Buy Property</a> -->
        <a href="{% url 'property:list' %}" class="btn btn-success btn-lg">Buy Property</a>
        <!-- <a href="{% url 'property:sell' %}" class="btn btn-danger btn-lg" >Sell Property</a> -->
        <a href="{% url 'property:create' %}" class="btn btn-danger btn-lg" >Sell Property</a>
    </div>
{% endblock %}