{% extends 'snippets/base.html' %}
{% block content %}
    <div class="container">
        <h1>Properties list is as follows: </h1>
        <div class="container" >
                <a href="{% url 'property:create' %}" class="btn btn-primary" style="float:right;">Add a Property</a>
        </div>
        {% if object_list  %}
        <table >
            <tr>
                <th>S.No</th>
                <th>Property Name</th>
                <th>Property Type</th>
                <th>Property Price</th>
                <th>Property Details</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ obj.property_name }}</td>
                <td>{{ obj.property_type }}</td>
                <td>&#8377; {{ obj.property_price }}</td>
                <td><a href="view/{{obj.id}}" class="btn btn-small btn-primary">View</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No properties available</p>
        {% endif %}
    </div>
    <br>
    {% include 'snippets/js.html' %}
{% endblock %}