{% extends 'snippets/base.html' %}
{% block list %}
    {% include 'snippets/nav.html' %}
    <div class="container">
        <h1>Properties list is as follows: </h1>
        {% if object_list  %}
        <table >
            <tr>
                <th>S.No</th>
                <th>Property Name</th>
                <th>Property Type</th>
                <th>Property Details</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ obj.property_name }}</td>
                <td>{{ obj.property_type }}</td>
                <td><a href="view/{{obj.id}}" class="btn btn-small btn-primary">View</a></td>
                <td><a href="update/{{obj.id}}" class="btn btn-small btn-warning">Update</a></td>
                <td><a href="delete/{{obj.id}}" class="btn btn-small btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No properties available</p>
        {% endif %}
    </div>
    <br>
    <div class="container">
        <a href="/property/create" class="btn btn-primary">Add a Property</a>
    </div>
    
    {% include 'snippets/js.html' %}
{% endblock %}