{% extends 'snippets/base.html' %}
{% block list %}
    {% include 'snippets/nav.html' %}
    <div class="container">
        <h1>Properties list is as follows: </h1>
        {% if property  %}
        <table style="border:black 1px solid">
            <tr style="border:black 1px solid">
                <th>S.No</th>
                <th>Property Name</th>
                <th>Property Type</th>
                <th>Property Details</th>
            </tr>
            {% for obj in property %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ obj.property_name }}</td>
                <td>{{ obj.property_type }}</td>
                <td><a href="#" class="btn btn-small btn-danger">View</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No properties available</p>
        {% endif %}
        <!-- {% for obj in property %}
            {{obj.property_name}} <br>
            Details as follows: 
            <ul>
            <li>Property age:  {{obj.property_age}} </li>
            <li>Property type:  {{obj.property_type}} </li>
            </ul>
        {% empty %}
            <p>No Properties are present.</p>
        {% endfor %} -->
    </div>  
    {% include 'snippets/js.html' %}
{% endblock %}