{% extends 'snippets/base.html' %}
{% block about %}
    {% include 'snippets/nav.html' %}
    <h1>Fill the sell form</h1>
    <form method="POST">
        <div class="container">
            <div class="col-sm-6">
                <!-- {{form2.as_p}}
                {{formb.as_p}} -->
                {{form.as_p}}
                {{form_details.as_p}}
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="List">
            </div>
        </div>
    </form>
    
    {% include 'snippets/js.html' %}
{% endblock %}