{% extends 'snippets/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h3>List Your Property</h3>
        <form method="POST">
        <div class="container">
            <div class="col-sm-6">
                <!-- {{form2.as_p}}
                {{formb.as_p}} -->
                {{form|crispy}}
                {{form_details|crispy}}
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="List">
            </div>
        </div>
    </form>
    </div>
    {% include 'snippets/js.html' %}
{% endblock %}