<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            background-color: rgb(221,172,19);
        }
        .major{
            margin-top: 10%;
        }
        label{
            color: white
        }
        h2{
            color: rgb(43, 43, 34);
            font-style: italic;
        }
    </style>

</head>
<body>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 major">
            <h2>Welcome</h2>
            <form method="post">
                {% csrf_token %}
                <label for="username">Username</label>
                <p><input class="form-control" required type="text" name = "username" placeholder="Username" id="username">
                    <br>
                <label for="Password">Password</label>
                <input class="form-control" required type="password" name="password" placeholder="Password" id="password">
                <br>
                <input class="btn btn-success" type="submit" value="Login">
                <a href="/registration" ><input class="btn btn-primary" type="button" value="Sign-Up"></a>
                {% if error %}
                    <p style="color:red;">{{error_message}}</p>
                {% endif %}
            </form>
        </div>
    </div>

    {% include 'snippets/js.html' %}

</body>
</html>
    