{% extends 'snippets/base.html' %}
{% block login %}
    {% include 'snippets/nav.html' %}
    <h1>Login here</h1>
    <form method="POST">
        <div class="container">
            <div class="col-sm-6">
                <form method="post">
                        {% csrf_token %}
                    username: <input type="text" name = "username">
                    password: <input type="password" name="password">
                    <input class="btn btn-danger" type="submit" value="Login">

                </form>
            </div>
        </div>
    </form>
    {% include 'snippets/js.html' %}
{% endblock %}