{% extends 'snippets/base.html' %}
{% block content %}
<div style="margin-top:10px" class="container">
    <h1 style="display:inline-block;">Profile View</h1>
    <a style="float: right;" href="{% url 'profiles:update' %}" class="btn btn-warning">Update</a>
</div>
<div class="container" >
    <table>
        <tr>
            <td>Username: </td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Email id: </td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Occupation: </td>
            <td>{{occupation}}</td>
        </tr>
        <tr>
            <td>Address: </td>
            <td>{{address}}</td>
        </tr>
        <tr>
            <td>Mobile-No: </td>
            <td>{{ mobile }}</td>
        </tr>
    </table>
</div>
<div style="height:20px;" ></div>
<div class="container">
    {% if properties  %}
<h3>Properties You listed: </h3>
        <table >
            <tr>
                <th>S.No</th>
                <th>Property Name</th>
                <th>Property Type</th>
                <th>Property Details</th>
                <th>Update Property</th>
                <th>Delete Property</th>
            </tr>
            {% for obj in properties %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ obj.property_name }}</td>
                <td>{{ obj.property_type }}</td>
                <td><a href="{% url 'property:detail' obj.id %}" class="btn btn-small btn-primary">View</a></td>
                <td><a href="{% url 'property:update' obj.id %}" class="btn btn-small btn-warning">Update</a></td>
                <td><a href="{% url 'property:delete' obj.id %}" class="btn btn-small btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>You Have not listed any properties.</p>
        {% endif %}
</div>

{% endblock %}